:root {
  --color-white: #FAFAFA;
  --color-black: #131417;
  --color-orange: #F2994A;
  --color-green: #5BC12C;
  --color-red: #EB5757;
  --color-gray: #252830;

  --font-family-base: 'Roboto', sans-serif;

}
